release/
.laya/launch.json
.laya/settings.json
.laya/chrome
.vscode

bin/js/
bin/res/atlas/
bin/res/mj/
bin/res/bg/

bin/res/createTable
bin/res/menu
bin/res/unpack.json
src/ui/layaUI.max.all.ts
bin/res/shisanshui
src/view/game/shisanshui
laya/pages/shisanshui
laya/assets/shisanshui
laya/assets/shanxi_mj
src/view/game/shanxi_mj
laya/assets/jinyun_mj
src/view/game/jinyun_mj
laya/assets/wakeng
laya/pages/wakeng
src/view/game/wakeng
bin/res/audio/jinyun_mj/
bin/res/audio/shanxi_mj/
bin/res/audioweb/jinyun_mj/
bin/res/audioweb/shanxi_mj/
bin/res/audio/wakeng/
bin/res/audioweb/wakeng/
bin/res/audioweb/shisanshui/
bin/res/audio/shisanshui/
bin/res/particle/

bin/res/gameIcon/
bin/res/matchSign/
bin/res/audio/jinyun_gs_mj/
src/view/game/jinyun_gs_mj/
laya/assets/jinyun_gs_mj/
bin/res/audio/jinyun_hz_mj/
laya/assets/jinyun_hz_mj/
src/view/game/jinyun_hz_mj/
bin/res/audioweb/jinyun_hz_mj/
bin/res/audio/shangqiu_mj/
bin/res/audioweb/shangqiu_mj/
bin/res/audioweb/jinyun_gs_mj/
laya/assets/shangqiu_mj/
src/view/game/shangqiu_mj/
laya/assets/guanpai/
laya/pages/guanpai/
src/view/game/guanpai/
laya/pages/shangqiu_mj/
bin/res/audio/guanpai/
bin/res/audioweb/guanpai/
bin/res/font_num_16/font_num_16.fnt
bin/res/font_num_17/font_num_17.fnt
laya/assets/font_num_16/font_num_16.fnt
laya/assets/font_num_16/font_num_16.png
laya/assets/font_num_17/font_num_17.fnt
laya/assets/font_num_17/font_num_17.png
bin/res/guanpai/
bin/res/guanpai/alarm.ani

bin/res/audio/bazhang
bin/res/audioweb/bazhang
bin/res/audio/tonglu_mj
bin/res/audio/guanpai
bin/res/audioweb/tonglu_mj
bin/res/audioweb/guanpai
src/view/game/guanpai
bin/res/img
laya/assets/bazhang/
laya/assets/tonglu_mj/
laya/pages/bazhang/
laya/pages/daye_phz/
laya/assets/daye_phz/
bin/res/audio/daye_phz
bin/res/audioweb/daye_phz
src/view/game/tonglu_mj/
src/view/game/bazhang/
src/view/game/daye_phz/
src/view/game/doudizhu/
laya/pages/doudizhu/
laya/assets/doudizhu/
bin/res/audio/doudizhu
bin/res/audioweb/doudizhu
laya/assets/bazhang
laya/assets/doudizhu
laya/assets/guanpai
laya/assets/tonglu_mj
laya/pages/bazhang
laya/pages/doudizhu
laya/pages/guanpai
src/view/game/bazhang
src/view/game/doudizhu
src/view/game/tonglu_mj
.laya
daye_phz
shuangkou

bin/res/bazhang/skeletonAni/HBL/
bin/res/emojie/
bin/res/img/bg_game_end.png
bin/res/img/img_daye_topdi.png
bin/res/img/img_di_daye.png
bin/res/img/img_fangzhufuAAfu.png
bin/res/img/img_font_fufen.png
bin/res/img/img_font_zhengfeng.png
bin/res/img/line.png
bin/res/res/bg/bg.png
bin/res/res/bg/bg_game_bz.jpg
bin/res/res/bg/bg_hall.jpg
bin/res/res/bg/bg_loading.jpg
bin/res/res/bg/bg_login.jpg
bin/res/res/bg/match_bg.jpg
bin/res/res/img/bg_game_end.png
bin/res/res/img/img_daye_topdi.png
bin/res/res/img/img_di_daye.png
bin/res/res/img/img_fangzhufuAAfu.png
bin/res/res/img/img_font_fufen.png
bin/res/res/img/img_font_zhengfeng.png
bin/res/res/img/line.png
bin/res/res/menu/
bin/res/res/shop/
bin/res/shop/
bin/res/texture.png

bin/res/audio/bull
bin/res/audioweb/bull
laya/assets/bull
laya/pages/bull
src/view/game/bull
bin/res/bull
bin/res/share
bin/res/juezhanhall
bin/res/exchange
bin/res/doudizhu
bin/res/audioweb
bin/res/audio
